
//- ==================
//-  Product List  
//- ==================
mixin  product-list(data)
  ul 
    each item in data
      li(class="py-[7px] px-[10px] bg-gray-light mt-[9px] first:mt-0 group dark:bg-sidebar-dark2")
        a(href="javascript:void(0)" class="flex items-center justify-between")
          div(class="flex items-center gap-2") 
            img(class="w-10 h-10 scale-100 rounded-full group-hover:scale-105" src=`../../assets/images/product/product-list/${item.image}`, alt=`${item.title}`)
            div
              h3(class="text-xs font-semibold text-title line-clamp-1")= item.title
              h4(class="font-semibold text-2xs text-content line-clamp-1")= item.subTitle    
          span(class="text-sm font-bold text-title")= item.price       