
//- ================
//-  Todo App Data   
//- ================

mixin todo-left-sidebar(data)
  button(class="justify-end hidden mb-3 lg:flex left-sidebar-toggle absolute right-[-35px] top-0 bg-gray-light dark:bg-sidebar-dark2 p-2 ")   
    i(data-feather="x" class="w-5 h-5 stroke-title")
  label.button-label.btn-primary.flex.gap-2.items-center.justify-center.w-full.text-sm(for='todo-modal') 
    i(data-feather="plus" class="w-[1.125rem] h-[1.125rem] stroke-white")
    | New Task
  div(class="mt-4 bg-gray-light dark:bg-sidebar-dark2 lg:h-full")
    ul.flex.flex-col.gap-0
      li.pl-3.pr-2.rounded-5(class="rtl:pl-2 rtl:rounded-tr-none rtl:rounded-br-none  dark:bg-sidebar-dark  dark:hover:bg-sidebar-dark rtl:rounded-tl-[25px] rtl:rounded-bl-[25px] hover:rounded-tr-[25px] hover:rounded-br-[25px] rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px] py-[0.6rem] first:text-primary last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] first:bg-white first:rounded-tr-[25px] first:rounded-br-[25px]")
        a(href="javascript:void(0)" class="flex items-center justify-between")
          span.flex.items-center.gap-2
            +SVG_ICON(`Message`,"w-[1.125rem] h-[1.125rem] stroke-primary")
            small.text-xs.font-medium(class="text-primary ") Index
          h6.text-sm(class="text-primary") (30)
      each item in TODO_SIDEBAR_DATA  
        li.pl-3.pr-2.rounded-5(class="rtl:pl-2 hover:rounded-tr-[25px] hover:rounded-br-[25px] dark:hover:bg-sidebar-dark rtl:hover:rounded-tr-none rtl:hover:rounded-br-none rtl:hover:rounded-tl-[25px] rtl:hover:rounded-bl-[25px] py-[0.6rem] first:text-primary last:mb-4 hover:bg-white dark:hover:bg-mode-200 mr-4 first:mt-[20px] hover:rounded-tr-[25px] hover:rounded-br-[25px] first:bg-white first:rounded-tr-[25px] first:rounded-br-[25px]")
          a(href="javascript:void(0)" class="flex items-center justify-between")
            span.flex.items-center.gap-2 
              +SVG_ICON(`${item.icon}`,"w-[1.125rem] h-[1.125rem] stroke-title")
              small.text-xs.font-medium(class="text-title")=item.title
            h6.text-sm(class="text-title")=item.subTitle


mixin todo-app-data(data)   
  ul.mb-7.todo-list.todo-app(class="gap-[calc(8px_+_(20_-_8)_*_((100vw_-_320px)_/_(1920_-_320)))]") 
    each item in TODO_APP_DATA  
      li.todo-item.flex.items-center(class="gap-2 justify-between pt-[13px] mt-[13px] border-t border-light dark:border-border-dark dark:border-t first:mt-0 first:pt-0 first:border-none") 
        div.flex.items-center.justify-center
          div.check-custom.flex.items-center.justify-center.relative(class="pl-[calc(10px_+_(15_-_10)_*_((100vw_-_320px)_/_(1920_-_320)))] pr-[calc(7px_+_(12_-_7)_*_((100vw_-_320px)_/_(1920_-_320)))] py-[3px]")
            span.absolute.top-0.bottom-0(class="ltr:left-0 rtl:right-0 w-[3px] line h-full rounded-5")
            div.relative(class="w-5 h-5")  
              input(type="checkbox" checked=item.checked  class="todo-check w-full h-full relative z-[2] opacity-0") 
              span.check.absolute.inset-0.flex.items-center.justify-center.rounded-5.w-full.h-full(class="z-[1] p-[3px] bg-gray-200 dark:bg-mode-100")
                i(data-feather="check" class=`check-icon w-[calc(16px_+_(22_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] h-[calc(16px_+_(22_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] transition-all opacity-0`)
          div(class="max-w-[calc(48px_+_(650_-_48)_*_((100vw_-_320px)_/_(1920_-_320)))] edit-div min-lg:min-w-[calc(66px_+_(650_-_66)_*_((100vw_-_320px)_/_(1920_-_320)))] min-w-[calc(120px_+_(650_-_120)_*_((100vw_-_320px)_/_(1920_-_320)))]")
            h5.font-medium.text-dark.truncate(class="text-xs focus:border focus:border-light dark:focus:border-border-dark focus:outline-none focus:px-2 focus:rounded-5")= item.title
        div
          ul.flex.gap-3.todo-sublist 
            li.cursor-pointer
              div.badge.badge-sm.capitalize.px-3.font-bold.rounded-full.text-primary.bg-primary-extralight(class=`priority-${item.priority} !text-3xs`)=item.priority  
            li.cursor-pointer 
              div(class="dark:bg-sidebar-dark2").badge.badge-sm.capitalize.px-3.font-bold.rounded-full.text-success.bg-success-light(class=`status-${item.status} !text-3xs`)=item.status             
            li.cursor-pointer
              i.transition-all(data-feather="edit" class="stroke-twitter opacity-50 hover:opacity-100 w-[calc(16px_+_(18_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] h-[calc(16px_+_(18_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] edit")
            li.cursor-pointer
              i.transition-all(data-feather="trash" class="stroke-danger opacity-50 hover:opacity-100 w-[calc(16px_+_(18_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] h-[calc(16px_+_(18_-_16)_*_((100vw_-_320px)_/_(1920_-_320)))] delete")