
//- =================
//-  Legend Image 
//- =================
mixin legend-image(data)
    ul(class="flex flex-col gap-[15px] w-full sm:flex-col md:flex-row md:gap-[8px] md:justify-center") 
        each legendData in data
            li.flex.items-center.relative(class="gap-[21px] md:gap-[8px] 2lg:gap-[14px] py-[7px] 3xl:py-[5px] px-[14px] 3xl:px-[11px] 2md:px-[6px]")
                div(class=`absolute inset-0 bg-${legendData.color} opacity-20`)
                div
                    img(class="rounded-5 w-[48px] 3xl:w-[45px]" src=`../../assets/images/cities/${legendData.image}` alt=`${legendData.title}`)
                div
                    h6(class="flex items-center gap-2 text-xs font-semibold text-title md:gap-1")
                        span(class="w-[8px] h-[8px] md:w-[6px] md:h-[6px] rounded-full bg-transparent")
                        = legendData.title   
                    span.flex.items-center.gap-2(class="md:text-3xs md:gap-1")
                        span(class=`w-[8px] h-[8px] md:min-w-[6px] md:min-h-[6px] md:w-[6px] md:h-[6px] rounded-full bg-${legendData.color}`)
                        span(class="text-xs font-semibold line-clamp-1 text-content")= legendData.subTitle


mixin legend-image-1(data)
    ul(class="flex flex-col gap-[15px] w-full sm:flex-col") 
        each legendData in data
            li.flex.items-center.relative(class="gap-[21px] md:gap-[8px] 2lg:gap-[14px] py-[7px] 3xl:py-[5px] px-[14px] 3xl:px-[11px] 2md:px-[6px]")
                div(class=`absolute inset-0 bg-${legendData.color} opacity-20`)
                div
                    img(class="rounded-5 w-[48px] 3xl:w-[45px]" src=`../../assets/images/cities/${legendData.image}` alt=`${legendData.title}`)
                div
                    h6(class="flex items-center gap-2 text-xs font-semibold text-title md:gap-1")
                        span(class="w-[8px] h-[8px] md:w-[6px] md:h-[6px] rounded-full bg-transparent")
                        = legendData.title   
                    span.flex.items-center.gap-2(class="md:text-3xs md:gap-1")
                        span(class=`w-[8px] h-[8px] md:min-w-[6px] md:min-h-[6px] md:w-[6px] md:h-[6px] rounded-full bg-${legendData.color}`)
                        span(class="text-xs font-semibold line-clamp-1 text-content")= legendData.subTitle


