//- ========================
//- bordered table
//- =======================

table.table.table-bordered
  thead
    tr
      each head in BORDERED_TABLE.header
        th(class="border border-dashed border-border-light dark:border-border-dark")=head
  tbody
    each bodyData,index in BORDERED_TABLE.body
      tr
        td(class="min-w-[.625rem]  rounded border-2 border-dashed border-border-light dark:border-border-dark")=index+1
        td(class="min-w-[.625rem] rounded border-2 border-dashed border-border-light dark:border-border-dark")=bodyData.dessert
        td(class="min-w-[1.25rem] rounded border-2 border-dashed border-border-light dark:border-border-dark")=bodyData.calories
        td(class="min-w-[.625rem]  rounded border-2 border-dashed border-border-light dark:border-border-dark")=bodyData.fat
        td(class="min-w-[.625rem]  rounded border-2 border-dashed border-border-light dark:border-border-dark")=bodyData.price