//- ========================
//- colors table
//- =======================

table.table.table-Color.table-bordered
  thead 
    tr
      each head in COLORS_TABLE.header
        th=  head
  tbody
    each bodyData,index in COLORS_TABLE.body
      tr
        td(class="min-w-[.625rem]")=index+1
        td(class="min-w-[13rem]")=bodyData.employee
        td(class="min-w-[11rem]")=bodyData.date
        td(class="min-w-[9rem]")=bodyData.status
        td(class="min-w-[.625rem]")=bodyData.performance
