//- ====================
//- User Status
//- ====================
table.table.table-sm 
   thead 
      tr 
         each userHead,index in USER_STATUS.header
            th=  userHead

   tbody
      each bodyData,index in USER_STATUS.body
         tr
            td(class="min-w-[150px]") 
               div(class="flex items-center gap-2")
                  div.flex.items-center(class="gap-[9px]")
                     img(class="W-10 h-10 4xl:w-[35px] 4xl:h-[35px]  2sm:w-9 2sm:h-9 rounded-full" src=`../../assets/images/avatar/${bodyData.image}`, alt=`${bodyData.title}`) 
                     div
                        h4(class="text-xs font-semibold text-title")=bodyData.title
                        span(class="block text-2xs 4xl:mt-0 font-semibold text-content mt-1")=bodyData.subTitle  
            td(class="min-w-[80px]")= bodyData.country
            td(class="min-w-[95px]")
               div(class="progress-bar progress-sm max-w-[70px]")
                  div(class=`bg-${bodyData.status}` style=`width:${bodyData.popular}%`)  
            td(class="min-w-[67px]")= bodyData.duration
