//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- apex-chart
-var apexChart=true;
-var customApexChart=true;
-var uniqueApex=true;
-var friendlyApex=true;


//- Breadcrumbs
-var pageTitle="Apex Chart";
-var breadcrumb=['Ui Kits','Apex Chart'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
   include ../../layout/header-files 
   body(dir="ltr" class="unique-skin") 
      main.page-wrapper
         div.page-body-wrapper(class="2xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
            include ../../layout/header/header     
            // Sidebar Start 
            div.page-sidebar.sidebar-dark.unique-sidebar
               include ../../layout/unique
            // Sidebar End 

            // Page Body Start 
            div.page-body
               div.grid.grid-cols-12.gap-card-gap
                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Basic Area Chart
                              p Set basic area chart using  
                                 strong areachart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#areachart.apex-custom-tooltip.apex-tooltip-style1(class="mb-[-0.9375rem]")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="areachart" class="apex-custom-tooltip apex-tooltip-style1 mb-[-0.9375rem]"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Column Chart
                              p Add column chart using  
                                 strong columnchart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#columnchart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="columnchart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Advanced Area Chart
                              p Use advanced area chart adding   
                                 strong advancedareachart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#advancedareachart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="advancedareachart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Rounded Column Chart
                              p Set rounded chart using 
                                 strong roundedcolumnchart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#roundedcolumnchart.round-bar
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="roundedcolumnchart" class="round-bar"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Spline Area Chart
                              p Set spline area chart using 
                                 strong splineAreaChart1    
                                 | &  
                                 strong splineAreaChart2 
                                 | id.       
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div.relative 
                                    div#splineAreaChart1           
                                    div#splineAreaChart2(class="absolute inset-0")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="splineAreaChart1"&gt;&lt;/div&gt;
                                       |&lt;div id="splineAreaChart2" class="absolute inset-0"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Group Bar Chart
                              p Use group column chart using  
                                 strong groupbarchart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#groupbarchart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="groupbarchart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Line Chart
                              p Add line chart with the help of   
                                 strong linechart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#linechart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="linechart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Bubble Chart
                              p Set bubble chart using  
                                 strong bubblechart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#bubblechart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="bubblechart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold CandleStick Chart
                              p Use candlstick chart using  
                                 strong candlestickchart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#candlestickchart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="candlestickchart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold BoxPlot Chart
                              p Set boxplot chart using 
                                 strong boxplotchart   
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#boxplotchart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="boxplotchart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Bar Chart
                              p Add bar chart using  
                                 strong barchart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#barchart.custom-data-label(class="2md:-mt-[0.75rem] ml-[-2.5rem] 2md:ml-0")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="barchart" class="custom-data-label 2md:-mt-[0.75rem] ml-[-2.5rem] 2md:ml-0"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Line With Data Label Chart
                              p Set line chart with data label with the help of    
                                 strong linedatalabelchart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#linedatalabelchart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="linedatalabelchart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Radial Chart 
                              p Use radial chart using   
                                 strong radialchart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#radialchart(class="my-[0.625rem] 2md:my-0")

                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="radialchart" class="my-[0.625rem]"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Polar Area Chart 
                              p Use radial chart adding    
                                 strong polarareachart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#polarareachart
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="polarareachart"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Radal Chart 
                              p Set radal chart using   
                                 strong radalchart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#radalchart(class="mb-[-0.9375rem]")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="radalchart" class="mb-[-0.9375rem]"&gt;&lt;/div&gt;

                  div.col-span-6(class="lg:col-span-12")
                     div.card.tabs
                        div.card-header.pb-2.header-bottom-border
                           div.flex.flex-col
                              h3.text-lg.font-bold Range Area Chart
                              p Use range area chart using 
                                 strong rangeareachart    
                                 | id. 
                              div.preview-code.tab-links
                                 button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                                 button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                        div.card-body                                   
                           div.tabs-content
                              div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                                 div#rangeareachart(class="mb-[-0.9375rem]")
                              div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                                 button.btn.copyBtn 
                                    i(data-feather="clipboard")
                                 pre(class="overflow-auto language-html custom-scroll")
                                    code
                                       |&lt;div id="rangeareachart" class="mb-[-0.9375rem]"&gt;&lt;/div&gt;




            // Page Body End 
            +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")

         include ../../components/customizer

      include ../../layout/footer-files
